@charset "utf-8";
/* CSS Document */
body{
	background-color:#333;
}

audio{
	position:relative;
	z-index:2;
	width:60%;
	height:580px;
}

video{
	position:absolute;
	min-height:100%;
	min-height:100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	height:100%;
	width:100%;
	z-index:1;
}